<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Thank you for using Triple one</h3>
    <br><br>
    <h5><%= @update_case.doctor.username %> has looked into your case and has advised you to <%= @update_case.decision %>.</h5>
    <br><br>
    <br><br>
    <img src="https://images.vexels.com/media/users/3/151981/isolated/preview/f8863741dba8034b3e1d4809a01c782a-stethoscope-icon-medical-icons-by-vexels.png">
    <span>Please do not reply to this email, as this inbox is not checked on a regular basis.</span>
    <span>This email has been sent on behalf of Triple One, though the views and advise received are solely attributred to the NHS user of this app.</span>
    <br><br>
    <span><b>Registered Address: <u>16 Astwood Mews, Kensington, SW7 4DE</u><b></span>
    <br><br>
    <span>Triple One was created by Charlie Payne, please get in touch on charliepayne1101@gmail.com if you'd like to give any feedback.</span>
  </body>
</html>